{{#each scrapernews}}
        <div class="col s12 m3"><h5 class="light">{{title}}</h5>
        </div>
        <div class="col s12 m9">
            <ul class="collapsible" data-collapsible="expandable">
                <li class="active">
                    <div class="collapsible-header active">Holiday Idea</div>
                    <div class="collapsible-body"><span>{{summary}}</span>
                        <br><br>
                        <p>View<a href="{{link}}" target="_blank"> full article </a></p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">START/JOIN THE CONVERSATION</div>
                    <div class="collapsible-body">
                        <form id="form-add-{{_id}}">
                            <!-- Comment Input -->
                            <div class="row">
                                <div class="input-field col s2"></div>
                                <div class="input-field col s8">
                                    <textarea id="comment_section" class="materialize-textarea" data-id="{{_id}}"></textarea>
                                    <label for="comment_section"></label>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="row">
                                <div class="input-field col s2">
                                </div>
                                <div class="input-field col s8 center">
                                    <input class="add-submit btn" data-id="{{_id}}" type="submit"
                                           value="Submit">
                                </div>
                            </div>

                        </form>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">ac_unit</i>VIEW COMMENTS</div>
                    <div class="collapsible-body">
                        {{#if comments}}


                            <ul class="collection">
                                {{#each comments}}

                                    {{content}}

                                {{/each}}
                            </ul>

                        {{else}}
                            <p>Be the first to share a comment.</p>
                        {{/if}}


                    </div>
                </li>

            </ul>
        </div>

{{/each}}
